gateway/flows.json
[
  {
    "id": "f1a0b001",
    "type": "tab",
    "label": "IoT Secure Sentinel",
    "disabled": false,
    "info": "MVP flow pro prijem telemetrie, alarm bypass, downsampling a persistenci."
  },
  {
    "id": "i1a0b002",
    "type": "inject",
    "z": "f1a0b001",
    "name": "Demo payload",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"deviceId\":\"node-01\",\"timestamp\":\"2026-03-22T10:15:00Z\",\"temperatureC\":24.7,\"accelG\":0.18,\"alarm\":false,\"batteryVoltage\":2.95,\"transport\":\"radio\"}",
    "payloadType": "json",
    "x": 150,
    "y": 100,
    "wires": [["n1a0b003"]]
  },
  {
    "id": "n1a0b003",
    "type": "function",
    "z": "f1a0b001",
    "name": "Validate payload",
    "func": "const p = msg.payload;\nif (!p || typeof p !== 'object') {\n    return null;\n}\nconst required = ['deviceId', 'timestamp', 'temperatureC', 'accelG', 'alarm'];\nfor (const key of required) {\n    if (p[key] === undefined || p[key] === null) {\n        node.warn(`Missing field: ${key}`);\n        return null;\n    }\n}\nif (typeof p.temperatureC !== 'number' || typeof p.accelG !== 'number' || typeof p.alarm !== 'boolean') {\n    node.warn('Invalid field types');\n    return null;\n}\nmsg.payload = {\n    deviceId: String(p.deviceId),\n    timestamp: String(p.timestamp),\n    temperatureC: p.temperatureC,\n    accelG: p.accelG,\n    alarm: p.alarm,\n    batteryVoltage: typeof p.batteryVoltage === 'number' ? p.batteryVoltage : null,\n    transport: p.transport || 'unknown'\n};\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 390,
    "y": 100,
    "wires": [["n1a0b004", "n1a0b010"]]
  },
  {
    "id": "n1a0b004",
    "type": "switch",
    "z": "f1a0b001",
    "name": "Alarm priority",
    "property": "payload.alarm",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 620,
    "y": 100,
    "wires": [["n1a0b005"], ["n1a0b006"]]
  },
  {
    "id": "n1a0b005",
    "type": "function",
    "z": "f1a0b001",
    "name": "Build alarm document",
    "func": "const p = msg.payload;\nmsg.payload = {\n    deviceId: p.deviceId,\n    timestamp: p.timestamp,\n    temperatureC: p.temperatureC,\n    accelG: p.accelG,\n    batteryVoltage: p.batteryVoltage,\n    transport: p.transport,\n    type: 'alarm',\n    priority: 'high',\n    message: 'Acceleration threshold exceeded'\n};\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 860,
    "y": 60,
    "wires": [["n1a0b008", "n1a0b009", "n1a0b014"]]
  },
  {
    "id": "n1a0b006",
    "type": "function",
    "z": "f1a0b001",
    "name": "Compute moving average",
    "func": "const p = msg.payload;\nconst key = `temps:${p.deviceId}`;\nconst windowSize = 5;\nlet window = flow.get(key) || [];\nwindow.push(p.temperatureC);\nif (window.length > windowSize) {\n    window = window.slice(window.length - windowSize);\n}\nflow.set(key, window);\nconst avgTemperatureC = window.reduce((sum, value) => sum + value, 0) / window.length;\nmsg.payload = {\n    deviceId: p.deviceId,\n    timestamp: p.timestamp,\n    temperatureC: p.temperatureC,\n    avgTemperatureC,\n    accelG: p.accelG,\n    batteryVoltage: p.batteryVoltage,\n    transport: p.transport,\n    type: 'telemetry'\n};\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 870,
    "y": 140,
    "wires": [["n1a0b007", "n1a0b011", "n1a0b015"]]
  },
  {
    "id": "n1a0b007",
    "type": "debug",
    "z": "f1a0b001",
    "name": "Telemetry out",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1110,
    "y": 140,
    "wires": []
  },
  {
    "id": "n1a0b008",
    "type": "debug",
    "z": "f1a0b001",
    "name": "Alarm out",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1090,
    "y": 60,
    "wires": []
  },
  {
    "id": "n1a0b009",
    "type": "mongodb out",
    "z": "f1a0b001",
    "mongodb": "n1a0b012",
    "name": "Store alarm",
    "collection": "alarms",
    "payonly": true,
    "upsert": false,
    "multi": false,
    "operation": "insert",
    "x": 1100,
    "y": 20,
    "wires": []
  },
  {
    "id": "n1a0b010",
    "type": "mqtt out",
    "z": "f1a0b001",
    "name": "Publish raw",
    "topic": "iot-secure-sentinel/raw",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "n1a0b013",
    "x": 620,
    "y": 220,
    "wires": []
  },
  {
    "id": "n1a0b011",
    "type": "mongodb out",
    "z": "f1a0b001",
    "mongodb": "n1a0b012",
    "name": "Store telemetry",
    "collection": "telemetry",
    "payonly": true,
    "upsert": false,
    "multi": false,
    "operation": "insert",
    "x": 1120,
    "y": 180,
    "wires": []
  },
  {
    "id": "n1a0b012",
    "type": "mongodb",
    "hostname": "127.0.0.1",
    "topology": "direct",
    "connectOptions": "",
    "port": "27017",
    "db": "iot_secure_sentinel",
    "name": "Local MongoDB",
    "useUnifiedTopology": true
  },
  {
    "id": "n1a0b013",
    "type": "mqtt-broker",
    "name": "Local MQTT",
    "broker": "127.0.0.1",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "n1a0b014",
    "type": "mqtt out",
    "z": "f1a0b001",
    "name": "Publish alarm",
    "topic": "iot-secure-sentinel/alarm",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "n1a0b013",
    "x": 1110,
    "y": 100,
    "wires": []
  },
  {
    "id": "n1a0b015",
    "type": "mqtt out",
    "z": "f1a0b001",
    "name": "Publish telemetry",
    "topic": "iot-secure-sentinel/telemetry",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "n1a0b013",
    "x": 1130,
    "y": 220,
    "wires": []
  }
]
