gateway/flows.json
[
  {
    "id": "f1a0b001",
    "type": "tab",
    "label": "IoT Secure Sentinel",
    "disabled": false,
    "info": "MVP flow pro prijem telemetrie, alarm bypass, downsampling a persistenci."
  },
  {
    "id": "i1a0b002",
    "type": "inject",
    "z": "f1a0b001",
    "name": "Demo payload",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"deviceId\":\"node-01\",\"timestamp\":\"2026-03-22T10:15:00Z\",\"temperatureC\":24.7,\"accelG\":0.18,\"alarm\":false,\"batteryVoltage\":2.95,\"transport\":\"radio\"}",
    "payloadType": "json",
    "x": 150,
    "y": 100,
    "wires": [["n1a0b003"]]
  },
  {
    "id": "n1a0b003",
    "type": "function",
    "z": "f1a0b001",
    "name": "Validate payload",
    "func": "const p = msg.payload;\nif (!p || typeof p !== 'object') {\n    return null;\n}\nconst required = ['deviceId', 'timestamp', 'temperatureC', 'accelG', 'alarm'];\nfor (const key of required) {\n    if (p[key] === undefined || p[key] === null) {\n        node.warn(`Missing field: ${key}`);\n        return null;\n    }\n}\nif (typeof p.temperatureC !== 'number' || typeof p.accelG !== 'number' || typeof p.alarm !== 'boolean') {\n    node.warn('Invalid field types');\n    return null;\n}\nmsg.payload = {\n    deviceId: String(p.deviceId),\n    timestamp: String(p.timestamp),\n    temperatureC: p.temperatureC,\n    accelG: p.accelG,\n    alarm: p.alarm,\n    batteryVoltage: typeof p.batteryVoltage === 'number' ? p.batteryVoltage : null,\n    transport: p.transport || 'unknown'\n};\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 390,
    "y": 100,
    "wires": [["n1a0b004", "n1a0b010"]]
  },
  {
    "id": "n1a0b004",
    "type": "switch",
    "z": "f1a0b001",
    "name": "Alarm priority",
    "property": "payload.alarm",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 620,
    "y": 100,
    "wires": [["n1a0b005"], ["n1a0b006"]]
  },
  {
    "id": "n1a0b005",
    "type": "function",
    "z": "f1a0b001",
    "name": "Build alarm document",
    "func": "const p = msg.payload;\nmsg.payload = {\n    deviceId: p.deviceId,\n    timestamp: p.timestamp,\n    temperatureC: p.temperatureC,\n    accelG: p.accelG,\n    batteryVoltage: p.batteryVoltage,\n    transport: p.transport,\n    type: 'alarm',\n    priority: 'high',\n    message: 'Acceleration threshold exceeded'\n};\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 860,
    "y": 60,
    "wires": [["n1a0b008", "n1a0b009", "n1a0b014", "n1a0b016"]]
  },
  {
    "id": "n1a0b006",
    "type": "function",
    "z": "f1a0b001",
    "name": "Compute moving average",
    "func": "const p = msg.payload;\nconst key = `temps:${p.deviceId}`;\nconst windowSize = 5;\nlet window = flow.get(key) || [];\nwindow.push(p.temperatureC);\nif (window.length > windowSize) {\n    window = window.slice(window.length - windowSize);\n}\nflow.set(key, window);\nconst avgTemperatureC = window.reduce((sum, value) => sum + value, 0) / window.length;\nmsg.payload = {\n    deviceId: p.deviceId,\n    timestamp: p.timestamp,\n    temperatureC: p.temperatureC,\n    avgTemperatureC,\n    accelG: p.accelG,\n    batteryVoltage: p.batteryVoltage,\n    transport: p.transport,\n    type: 'telemetry'\n};\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 870,
    "y": 140,
    "wires": [["n1a0b007", "n1a0b011", "n1a0b015", "n1a0b017", "n1a0b018"]]
  },
  {
    "id": "n1a0b007",
    "type": "debug",
    "z": "f1a0b001",
    "name": "Telemetry out",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1110,
    "y": 140,
    "wires": []
  },
  {
    "id": "n1a0b008",
    "type": "debug",
    "z": "f1a0b001",
    "name": "Alarm out",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1090,
    "y": 60,
    "wires": []
  },
  {
    "id": "n1a0b009",
    "type": "mongodb out",
    "z": "f1a0b001",
    "mongodb": "n1a0b012",
    "name": "Store alarm",
    "collection": "alarms",
    "payonly": true,
    "upsert": false,
    "multi": false,
    "operation": "insert",
    "x": 1100,
    "y": 20,
    "wires": []
  },
  {
    "id": "n1a0b010",
    "type": "mqtt out",
    "z": "f1a0b001",
    "name": "Publish raw",
    "topic": "iot-secure-sentinel/raw",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "n1a0b013",
    "x": 620,
    "y": 220,
    "wires": []
  },
  {
    "id": "n1a0b011",
    "type": "mongodb out",
    "z": "f1a0b001",
    "mongodb": "n1a0b012",
    "name": "Store telemetry",
    "collection": "telemetry",
    "payonly": true,
    "upsert": false,
    "multi": false,
    "operation": "insert",
    "x": 1120,
    "y": 180,
    "wires": []
  },
  {
    "id": "n1a0b012",
    "type": "mongodb",
    "hostname": "127.0.0.1",
    "topology": "direct",
    "connectOptions": "",
    "port": "27017",
    "db": "iot_secure_sentinel",
    "name": "Local MongoDB",
    "useUnifiedTopology": true
  },
  {
    "id": "n1a0b013",
    "type": "mqtt-broker",
    "name": "Local MQTT",
    "broker": "127.0.0.1",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "n1a0b014",
    "type": "mqtt out",
    "z": "f1a0b001",
    "name": "Publish alarm",
    "topic": "iot-secure-sentinel/alarm",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "n1a0b013",
    "x": 1110,
    "y": 100,
    "wires": []
  },
  {
    "id": "n1a0b015",
    "type": "mqtt out",
    "z": "f1a0b001",
    "name": "Publish telemetry",
    "topic": "iot-secure-sentinel/telemetry",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "n1a0b013",
    "x": 1130,
    "y": 220,
    "wires": []
  },
  {
    "id": "n1a0b016",
    "type": "function",
    "z": "f1a0b001",
    "name": "Build cloud tamper event",
    "func": "const p = msg.payload;\nconst baseUrl = String(env.get('CLOUD_BASE_URL') || flow.get('cloudBaseUrl') || 'http://127.0.0.1:3000').replace(/\\/+$/, '');\nconst token = String(env.get('DEVICE_TOKEN') || flow.get('deviceToken') || 'mock-token-please-rotate');\nconst deviceName = String(env.get('DEVICE_NAME') || flow.get('deviceName') || 'mock-gateway-01');\nconst ts = Date.parse(p.timestamp);\nconst timestamp = Number.isNaN(ts) || ts - Date.now() > 5 * 60 * 1000 ? new Date().toISOString() : new Date(ts).toISOString();\n\nmsg.url = `${baseUrl}/api/event/create`;\nmsg.headers = {\n    'content-type': 'application/json',\n    authorization: `Bearer ${token}`\n};\nmsg.payload = {\n    deviceName,\n    sensorKey: 'core-accelerometer',\n    type: 'tamper',\n    value: p.accelG,\n    message: p.message || 'Acceleration threshold exceeded',\n    timestamp\n};\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1130,
    "y": 300,
    "wires": [["n1a0b019"]]
  },
  {
    "id": "n1a0b017",
    "type": "function",
    "z": "f1a0b001",
    "name": "Build cloud temperature event",
    "func": "const p = msg.payload;\nif (typeof p.temperatureC !== 'number') {\n    return null;\n}\nconst baseUrl = String(env.get('CLOUD_BASE_URL') || flow.get('cloudBaseUrl') || 'http://127.0.0.1:3000').replace(/\\/+$/, '');\nconst token = String(env.get('DEVICE_TOKEN') || flow.get('deviceToken') || 'mock-token-please-rotate');\nconst deviceName = String(env.get('DEVICE_NAME') || flow.get('deviceName') || 'mock-gateway-01');\nconst ts = Date.parse(p.timestamp);\nconst timestamp = Number.isNaN(ts) || ts - Date.now() > 5 * 60 * 1000 ? new Date().toISOString() : new Date(ts).toISOString();\n\nmsg.url = `${baseUrl}/api/event/create`;\nmsg.headers = {\n    'content-type': 'application/json',\n    authorization: `Bearer ${token}`\n};\nmsg.payload = {\n    deviceName,\n    sensorKey: 'core-thermometer',\n    type: 'temperature',\n    value: p.temperatureC,\n    timestamp\n};\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1150,
    "y": 360,
    "wires": [["n1a0b019"]]
  },
  {
    "id": "n1a0b018",
    "type": "function",
    "z": "f1a0b001",
    "name": "Build cloud battery event",
    "func": "const p = msg.payload;\nif (typeof p.batteryVoltage !== 'number') {\n    return null;\n}\nconst baseUrl = String(env.get('CLOUD_BASE_URL') || flow.get('cloudBaseUrl') || 'http://127.0.0.1:3000').replace(/\\/+$/, '');\nconst token = String(env.get('DEVICE_TOKEN') || flow.get('deviceToken') || 'mock-token-please-rotate');\nconst deviceName = String(env.get('DEVICE_NAME') || flow.get('deviceName') || 'mock-gateway-01');\nconst ts = Date.parse(p.timestamp);\nconst timestamp = Number.isNaN(ts) || ts - Date.now() > 5 * 60 * 1000 ? new Date().toISOString() : new Date(ts).toISOString();\n\nmsg.url = `${baseUrl}/api/event/create`;\nmsg.headers = {\n    'content-type': 'application/json',\n    authorization: `Bearer ${token}`\n};\nmsg.payload = {\n    deviceName,\n    sensorKey: 'core-battery',\n    type: 'battery',\n    value: p.batteryVoltage,\n    timestamp\n};\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1140,
    "y": 420,
    "wires": [["n1a0b019"]]
  },
  {
    "id": "n1a0b019",
    "type": "http request",
    "z": "f1a0b001",
    "name": "POST cloud event/create",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1410,
    "y": 360,
    "wires": [["n1a0b020"]]
  },
  {
    "id": "n1a0b020",
    "type": "debug",
    "z": "f1a0b001",
    "name": "Cloud response",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1640,
    "y": 360,
    "wires": []
  }
]
